body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.logoone {
  color: #18a0fb;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: 0;
}

.logotwo {
  color: #050505;
  font-size: 26px;
  font-weight: 700;
  font-family: "Raleway";
  line-height: 0;
}

.logotwodown {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  font: "Raleway";
  line-height: 0;
}

.link {
  text-decoration: none;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.adress {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

/* .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
} */
.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  top: 80px;
  left: 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  font-family: inherit;
  background-color: var(--text-selection-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}
.header-link:hover,
.header-link:focus {
  color: var(--text-selection-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--text-selection-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--text-selection-color);
}
.props-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
}

.props-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--main-text-color);
}

.about h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
/* цвет основного текста #000000 */
/* вторичный цвет текста rgba(0, 0, 0.8)
 */ /* белый #FFFFFF */
/* акцент #18A0FB */
ul {
  list-style: none;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.button {
  color: #212121;
  cursor: pointer;
  font-family: inherit;
}
.button:hover,
.button:focus,
.button:active {
  color: var(--text-selection-color);
}
.current {
  color: var(--accentColor);
}
.catalog {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.catalog-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --text-selection-color: #2196f3;
}
footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2094px;
}
